.img {
    margin-left: 100px;
}

.imgDiv {
    padding-right: 200px;
}

#dancer {
    height: 500px;
    width: auto;
    float: left;
    padding-right: 2000px;
}

.iconDetails {
    padding-bottom: 10px;
    margin-left: 10px;
    float: left;
    height: 50px;
    width: auto;
    position: absolute;
}

.container2 {
    width: 100%;
    height: auto;
    padding: 1%;
}

h4 {
    margin: 0px;
}

.logo1 {
    line-height: 3em;
}

logo {
    font-family: 'Grand Hotel', cursive;
    font-size: 50px;
    line-height: 4em;
}

.logoTitle:hover {
    color: red;
    z-index: 1000;
}

.imgLogo:hover {
    color: black;
    z-index: 1000;
}

.hamburger:hover {
    color: red;
    z-index: 1000;
}


/* 
#myNavbar {
    z-index: 10000 !important;
} */


/* body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
} */


/* the text for the logo */

.logoTitle {
    color: grey;
    font-family: 'Grand Hotel', cursive;
    font-size: 75px;
    line-height: 1em;
    display: inline-flex;
}

.logoAddress {
    color: red;
    padding-left: 200px;
}


/* hide logo on smaller screens */

@media screen and (max-width: 800px) and (min-width: 100px) {
    .logoTitle {
        font-size: 49px;
    }
    .hamburger {
        background-color: grey;
    }
    .imgLogo {
        display: none;
    }
}